@charset "UTF-8";
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 0. sassCore's style
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  overflow-y: scroll;
  /* 0 */
  -webkit-overflow-scrolling: touch;
  /* 0 */
}

/**
 * 1. Remove default margin
 * 0. sassCore's style.
 */
body {
  margin: 0;
  /* 1 */
  font-size: 14px;
  /* 0 */
  line-height: 1.5;
  /* 0 */
  color: #333;
  /* 0 */
  background-color: #fff;
  /* 0 */
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 * 3. Correct `inline-block` display in IE 6/7.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
  *display: inline;
  /* 3 */
  *zoom: 1;
  /* 3 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background color from active links in IE 10.
 * 2. Improve readability when focused and also mouse hovered in all browsers.
 * 0. sassCore's style.
 */
a {
  background: transparent;
  /* 1 */
  /* 0 */
  text-decoration: none;
  color: #08c;
}
a:active, a:hover {
  outline: 0;
  /* 2 */
}
a:hover {
  color: #006699;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improve image quality when scaled in IE 7.
 * 0. sassCore's style.
 */
img {
  border: 0;
  /* 1 */
  vertical-align: middle;
  /* 0 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * 1. Contain overflow in all browsers.
 * 2. Improve readability of pre-formatted text in all browsers.
 */
pre {
  overflow: auto;
  /* 1 */
  white-space: pre;
  /* 2 */
  white-space: pre-wrap;
  /* 2 */
  word-wrap: break-word;
  /* 2 */
}

/**
 * 1. Address odd `em`-unit font size rendering in all browsers.
 * 2. Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  _font-family: 'courier new', monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9/10/11.
 * 0. sassCore's style
 */
textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 0 */
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/**
 * Address CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none;
}

html,
button,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0;
}

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none outside none;
}

h1, h2, h3 {
  line-height: 2;
  font-weight: normal;
}

h1 {
  font-size: 21px;
}

h2 {
  font-size: 18.2px;
}

h3 {
  font-size: 16.38px;
}

h4 {
  font-size: 14px;
}

h5, h6 {
  font-size: 11.9px;
  text-transform: uppercase;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #ccc;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #ccc;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #ccc;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc;
}

/*#椤堕儴*/
#topbar {
  background: #F2F2F2;
  font-size: 12px;
  color: #666;
  height: 35px;
  line-height: 35px;
  min-width: 1226px;
  color: #666;
}
#topbar .inner-topbar {
  width: 1226px;
  margin: 0 auto;
}
#topbar a {
  color: #666;
}
#topbar a:hover {
  color: #e8342d;
}
#topbar .topbar-welcome {
  width: 250px;
  float: left;
}
.topbar-tools {
  float: right;
  overflow: hidden;
}
.topbar-tools li {
  float: left;
}
.topbar-tools a {
  padding: 0 3px;
}

/*/椤堕儴*/
#header {
  width: 1226px;
  margin: 0 auto;
  overflow: hidden;
  padding: 22px 0;
}
h1 {
  float: left;
}
h1 img {
  height: 58px;
}
#header h2 {
  float: left;
  padding-left: 10px;
  padding-top: 25px;
  font-family: 'STXingkai';
}
.header-cart {
  float: right;
  width: 116px;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.header-cart a {
  display: block;
  color: #fff;
  margin-top: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 14px;
  padding-left: 20px;
  background: #e8342d url("../images/shop.png") no-repeat scroll 10px center;
}
.header-cart a:hover {
  background: #cc1d16 url("../images/shop.png") no-repeat scroll 10px center;
}

#nav {
  color: #333;
  *position: relative;
  *z-index: 10;
  background: #f2f2f2;
}
#nav .inner-nav {
  font-size: 0;
  width: 1226px;
  margin: 0 auto;
}
.category-nav {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  *float: left;
  font-size: 16px;
  color: #333;
  position: relative;
}
.category-nav .category-title {
  height: 51px;
  line-height: 51px;
  background: #c72323;
  padding: 0 84.5px;
  color: #fff;
  cursor: pointer;
}
.category-nav:hover .category-list {
  display: block;
}
.category-nav .category-list {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 10;
  background: #fff;
  width: 232px;
  height: 460px;
  display: none;
}
.category-list-title {
  height: 40px;
  line-height: 40px;
}
.category-list-title span {
  display: none;
}
.category-list-title strong {
  display: block;
  text-align: left;
}
.category-list-title a {
  display: block;
  font-size: 14px;
  color: #424242;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 30px;
  background: transparent url("../images/nav_arrow_inner.png") 95% center no-repeat;
}
.category-list-title a:hover {
  color: #fff;
  background: #ff6700 url("../images/nav_arrow_inner.png") 95% center no-repeat;
}
.category-list-content {
  position: absolute;
  top: 0;
  left: 233px;
  z-index: 10;
  border: 1px solid #eaeaea;
  border-left: none;
  background: #fff;
  white-space: nowrap;
  height: 458.5px;
  display: none;
  background: #f7f7f7;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
}
.category-item {
  height: 40px;
  padding: 18px;
  overflow: hidden;
}
.category-item img {
  width: 40px;
  height: 40px;
  float: left;
}
.category-item a {
  display: block;
  font-size: 14px;
  color: #333;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.category-item-title {
  float: left;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
}
.category-item-title a:hover {
  color: #e8342d;
}
.category-list-col {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 246px;
}
.nav-list {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 0;
  *float: left;
  position: relative;
  height: 78px;
}
.nav-list li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 16px;
  *float: left;
  height: 50px;
  line-height: 50px;
}
.nav-list a {
  display: block;
  font-size: 16px;
  color: #333;
  padding: 0 54px;
  line-height: 49px;
  position: relative;
}
.nav-list a:hover {
  color: #e8342d;
}
.nav-list li.on span {
  height: 2px;
  left: 0;
  width: 100%;
  right: 0px;
}
.nav-list li.on a {
  color: #e8342d;
}

.category-list-item:hover .category-list-title a {
  color: #fff;
  background: #e8342d url(../images/nav_arrow_hover.png) no-repeat 95% center;
}

.category-list-item:hover .category-list-content {
  display: block;
}

.slide-red {
  position: absolute;
  bottom: 0;
  background: #e8342d;
  height: 2px;
}

.show-slide {
  text-align: center;
  min-width: 1226px;
  overflow: hidden;
  position: relative;
}
.inner-show-slide {
  font-size: 0px;
  width: 100%;
}
.show-slide-item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  height: 460px;
}
.show-slide-item img {
  height: 460px;
  width: 100%;
}
.arrow span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 42px;
  text-indent: -9999px;
  cursor: pointer;
  position: absolute;
  top: 195px;
  height: 70px;
}
.arrow .prev {
  left: 50%;
  margin-left: -370px;
  background: url(../images/prev.png) no-repeat center;
}
.arrow .prev:hover {
  background: url(../images/prev-bg.png) no-repeat center;
}
.arrow .next {
  right: 50%;
  margin-right: -620px;
  background: url(../images/next.png) no-repeat center;
}
.arrow .next:hover {
  background: url(../images/next-bg.png) no-repeat center;
}
.paging {
  font-size: 0;
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 1226px;
  margin-left: -460px;
  text-align: center;
}
.paging span {
  width: 10px;
  height: 10px;
  background: #734f49;
  background: rgba(0, 0, 0, 0.4);
  padding: 3px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.paging span:hover, .paging span.on {
  background: none;
  border: 3px solid #fff;
  padding: 0;
}

.inner-pro-list {
  width: 1226px;
  margin: 0 auto;
  min-width: 1226px;
  padding-top: 20px;
  position: relative;
}
.section-title h3 {
  font-size: 20px;
  font-weight: normal;
  line-height: 58px;
}
.section-title h3 a {
  color: #333;
}
.section-title h3 a:hover {
  color: #e8342d;
}
.pro-content {
  font-size: 0;
  margin-left: -14px;
}
.pro-item {
  width: 294px;
  height: 372px;
  margin-left: 14px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  position: relative;
  background: #fff;
  margin-bottom: 14px;
  cursor: pointer;
}
.pro-item button {
  font-size: 12px;
  position: absolute;
  right: 30px;
  bottom: 45px;
  background: #e8342d;
  border-radius: 5px;
  height: 25px;
  line-height: 25px;
  color: #fff;
  padding: 0 8px;
}
.pro-item button:hover {
  background: #cc1d16;
}
.pro-item-title {
  font-size: 12px;
  padding-top: 280px;
  padding-left: 30px;
  padding-right: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pro-item-title a {
  color: #333;
}
.pro-item-title:hover, .pro-item-title:hover a {
  color: #e8342d;
}
.pro-item-anchor {
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 1;
  width: 100%;
  text-align: center;
}
.pro-item-anchor img {
  height: 200px;
  width: 250px;
}
.pro-item-price {
  padding: 0 30px 0 35px;
  font-size: 16px;
}
.pro-item-price dt {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: #666;
  line-height: 40px;
}
.pro-item-price dd {
  color: #e8342d;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 40px;
  font-weight: bold;
}

.inner-shop-list {
  width: 1226px;
  margin: 0 auto;
  min-width: 1226px;
  padding-top: 20px;
  position: relative;
}
.shop-content {
  position: relative;
}
.shop-item {
  height: 110px;
  width: 300px;
  background: #fff;
  text-align: center;
  border-bottom: 1px solid #f5f5f5;
  cursor: pointer;
}
.shop-item:hover, .shop-item.on {
  border-left: 3px solid #e8342d;
  margin-left: -3px;
  background: #fafafa;
}
.shop-item:hover .shop-item-pic, .shop-item.on .shop-item-pic {
  display: block;
}
.shop-item .shop-item-title {
  padding-top: 28px;
}
.shop-item .shop-item-title a {
  font-size: 16px;
  color: #333;
  line-height: 24px;
}
.shop-item .shop-item-title a:hover {
  color: #e8342d;
}
.shop-item .shop-item-text {
  font-size: 12px;
  color: #b0b0b0;
  padding-top: 10px;
  line-height: 20px;
}
.shop-item .shop-item-pic {
  display: none;
  position: absolute;
  top: 0;
  left: 300px;
  z-index: 1;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  *border: 1px solid #eaeaea;
  border: 1px solid #e0e0e0\0;
  border-left: 1px solid #f5f5f5\0;
}
.shop-item .shop-item-pic img {
  width: 926px;
  height: 442px;
}

.order-list {
  min-width: 1226px;
}
.inner-order-list {
  width: 1226px;
  margin: 0 auto;
  padding: 20px 0 60px 0;
}
.order-content {
  background: #fff;
  padding: 20px 40px;
}
.order-content table {
  width: 100%;
}
.order-item {
  height: 30px;
}
.order-item td span {
  color: #e8342d;
  padding: 0 10px;
}
.order-item .order-item-col-6 {
  color: #bbb;
  width: 12%;
}
.order-item .order-item-col-1 {
  width: 7%;
}
.order-item .order-item-col-2 {
  width: 12%;
}
.order-item .order-item-col-3 {
  width: 50%;
}
.order-item .order-item-col-4 {
  width: 11%;
}
.order-item .order-item-col-5 {
  width: 8%;
}

.order-content-list {
  overflow: hidden;
  height: 200px;
}

.order-content-title {
  padding-bottom: 10px;
}
.order-content-title tr {
  height: 30px;
  line-height: 30px;
}
.order-content-title .order-title-col-1 {
  width: 7%;
}
.order-content-title .order-title-col-2 {
  width: 12%;
}
.order-content-title .order-title-col-3 {
  width: 50%;
  padding-left: 12px;
}
.order-content-title .order-title-col-4 {
  width: 11%;
}
.order-content-title .order-title-col-5 {
  width: 8%;
}

.inner-help {
  width: 1226px;
  margin: 0 auto;
  padding: 40px 0;
  font-size: 0;
}
.inner-help .help-list {
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border-right: 1px solid #eaeaea;
  *float: left;
}
.help-item {
  float: left;
  width: 165px;
}
.help-item dt {
  font-size: 14px;
  color: #424242;
  margin-bottom: 22px;
}
.help-item a {
  display: block;
  font-size: 12px;
  color: #757575;
  height: 25px;
  line-height: 25px;
}
.help-item a:hover {
  color: #e8342d;
}
.weixin {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 12px;
  color: #757575;
  text-align: center;
  margin-left: 30px;
  *float: left;
}
.contact {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 12px;
  color: #757575;
  vertical-align: top;
  margin-left: 30px;
  *float: left;
}
.contact dt {
  height: 20px;
  line-height: 20px;
}
.contact img {
  width: 25px;
  height: 25px;
  vertical-align: -2px;
}
.contact a {
  font-size: 22px;
  text-decoration: underline;
  color: #e8342d;
  font-weight: normal;
}
.contact a:hover {
  color: #cc1d16;
}
.contact dd {
  font-size: 16px;
  color: #0099ff;
  font-weight: bold;
}

.wrap-footer {
  background: #fff;
  border-top: 1px solid #f5f5f5;
  min-width: 1226px;
}
#advantage {
  width: 1226px;
  margin: 0 auto;
}
#advantage .inner-advantage {
  font-size: 0;
  white-space: nowrap;
  overflow: hidden;
  *position: relative;
  padding-top: 12px;
}
#advantage figure {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 160.5px;
  height: 56px;
  padding: 15px 0;
  padding-left: 147px;
  font-size: 16px;
}
.advantage-item-pic {
  position: absolute;
  top: 11px;
  left: 70px;
  z-index: 1;
}
.advantage-item-title, .advantage-item-text {
  color: #616161;
  border-right: 1px solid #eaeaea;
}

#help {
  border-top: 1px solid #eaeaea;
}

#footer {
  border-top: 1px solid #ddd;
}
.inner-footer {
  width: 1226px;
  margin: 0 auto;
  padding: 30px 0;
  font-size: 12px;
  color: #757575;
  position: relative;
  overflow: hidden;
}
.inner-footer small {
  font-size: 100%;
}
.inner-footer .footer-info {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  padding-left: 10px;
}
.footer-list {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: auto;
}
.footer-list a {
  float: right;
  margin-left: 20px;
}
.footer-logo {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}
.footer-logo img {
  width: 36px;
  height: 36px;
}
.inner-footer .footer-support {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: absolute;
  top: 50px;
  left: 50px;
}

.goTop {
  display: block;
  text-align: none;
  width: 40px;
  height: 40px;
  position: fixed;
  top: 70%;
  right: 10px;
  z-index: 200;
  background: #969696 url(../images/top.png) no-repeat center;
  font-size: 0;
}
.goTop:hover {
  background: #7a7a7a url(../images/top.png) no-repeat center;
}

.page {
  min-width: 1226px;
}

em {
  font-style: normal;
}

.more {
  position: absolute;
  right: 10px;
  top: 40px;
}
.more a {
  font-size: 12px;
  line-height: 25px;
  color: #888;
  display: block;
  padding-right: 10px;
  background: url(../images/more.png) no-repeat right center;
}
.more a:hover {
  color: #e8342d;
  background: url(../images/more_hover.png) no-repeat right center;
}
.more i {
  padding-left: 8px;
  font-size: 16px;
}

body {
  font: 14px/1.5 "Microsoft Yahei";
}

button {
  background: none;
  border: medium none;
  overflow: visible;
  padding: 2px;
  border: none;
  cursor: pointer;
}

button[type=submit],
button[type=reset],
button[type=button] {
  filter: chroma(color=#000000);
}

button:click {
  border: none;
  padding: 0;
}

button:hover {
  background: #cc1d16;
}

.wrap-container {
  background: #F5F5F5;
}

body {
  font-size: 12px;
}

.nav-list {
  height: 49px;
}

.nav-list a {
  height: 49px;
}

.category-nav .category-title {
  height: 49px;
  line-height: 49px;
}

.category-nav {
  *z-index: 40;
}

.category-nav .category-list {
  display: block;
  background: #104e59;
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0% 0%;
  top: 49px;
  width: 233px;
  *width: 232px;
}

.category-list-title a {
  color: #fff;
  background: url(../images/nav_arrow.png) no-repeat 95% center;
}

.category-list-item:hover .category-list-title a {
  color: #fff;
}

.category-list-content {
  left: 233px;
  *left: 232px;
  *height: 459px;
  top: -1px;
}

.wrap-container {
  background: #f5f5f5;
}

.spectial-pro-list {
  width: 1226px;
  margin: 0 auto;
  position: relative;
}
.spectial-pro-list .pro-content {
  margin-left: 0;
  width: 20000000px;
  padding: 35px 0;
  background: #fff;
}
.spectial-pro-list .inner-pro-list {
  overflow: hidden;
}
.spectial-pro-list .pro-item {
  border-right: 1px solid #eaeaea;
  margin: 0;
  width: 305.75px;
}
.pro-list-pagging span {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  text-indent: -9999px;
}
.pro-list-pagging .last {
  position: absolute;
  top: 50%;
  left: -50px;
  z-index: 2;
  background: url(../images/left_arrow.png) no-repeat center center;
}
.pro-list-pagging .last:hover {
  background: url(../images/left_arrow_hover.png) no-repeat center center;
}
.pro-list-pagging .next {
  position: absolute;
  top: 50%;
  right: -50px;
  background: url(../images/right_arrow.png) no-repeat center center;
}
.pro-list-pagging .next:hover {
  background: url(../images/right_arrow_hover.png) no-repeat center center;
}

.pro-list .inner-pro-list {
  overflow: hidden;
}
.pro-list .pro-content {
  background: #fff;
  padding: 10px 0;
  margin-left: 0;
  margin-right: -5px;
  overflow: hidden;
}
.pro-list .pro-item {
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  width: 245.2px;
  margin: 0;
  height: 318px;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: all 1s;
}
.pro-list .pro-item-search {
  position: absolute;
  width: 58px;
  height: 58px;
  top: 0px;
  left: 50%;
  margin-left: -29px;
  z-index: 10;
  background: url("../images/pro_item_search.png") no-repeat scroll center center;
}
.pro-list .pro-item + .pro-item + .pro-item + .pro-item + .pro-item + .pro-item {
  border-bottom: none;
}
.pro-list .pro-item + .pro-item + .pro-item + .pro-item + .pro-item {
  *border-bottom: none;
}
.pro-list .pro-item-title {
  padding-top: 220px;
  font-size: 14px;
}
.pro-list .pro-item-anchor img {
  width: 200px;
  height: 160px;
}

/*# sourceMappingURL=index.css.map */
