.inner-pro-list {
  width: 1226px;
  margin: 0 auto;
  min-width: 1226px;
  padding-top: 20px;
  position: relative;
}
.section-title h3 {
  font-size: 20px;
  font-weight: normal;
  line-height: 58px;
}
.section-title h3 a {
  color: #333;
}
.section-title h3 a:hover {
  color: #e8342d;
}
.pro-content {
  font-size: 0;
  margin-left: -14px;
}
.pro-item {
  width: 294px;
  height: 372px;
  margin-left: 14px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  position: relative;
  background: #fff;
  margin-bottom: 14px;
  cursor: pointer;
}
.pro-item button {
  font-size: 12px;
  position: absolute;
  right: 30px;
  bottom: 45px;
  background: #e8342d;
  border-radius: 5px;
  height: 25px;
  line-height: 25px;
  color: #fff;
  padding: 0 8px;
}
.pro-item button:hover {
  background: #cc1d16;
}
.pro-item-title {
  font-size: 12px;
  padding-top: 280px;
  padding-left: 30px;
  padding-right: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pro-item-title a {
  color: #333;
}
.pro-item-title:hover, .pro-item-title:hover a {
  color: #e8342d;
}
.pro-item-anchor {
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 1;
  width: 100%;
  text-align: center;
}
.pro-item-anchor img {
  height: 200px;
  width: 250px;
}
.pro-item-price {
  padding: 0 30px 0 35px;
  font-size: 16px;
}
.pro-item-price dt {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: #666;
  line-height: 40px;
}
.pro-item-price dd {
  color: #e8342d;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 40px;
  font-weight: bold;
}

#pos {
  background: #f5f5f5;
}
#pos .inner-pos {
  width: 1226px;
  margin: 0 auto;
  height: 54px;
  line-height: 54px;
}
#pos p {
  color: #b0b0b0;
}
#pos a {
  font-size: 12px;
  color: #757575;
  padding: 0 5px;
}
#pos a:hover {
  color: #424242;
}
#pos span {
  font-size: 12px;
  color: #ff6700;
  padding: 0 5px;
}

#nav {
  background: none;
  border-top: 1px solid #eaeaea;
}

.more {
  top: 20px;
}

.category-nav .category-title {
  background: none;
  color: #333;
  height: 79px;
  line-height: 79px;
}

.nav-list a {
  height: 78px;
  line-height: 78px;
}

.category-nav .category-list {
  border: 1px solid #e8342d;
}

.category-nav .category-list {
  top: 79px;
}

.category-list-content {
  top: -1px;
  height: 459.5px;
}

.wrap-container {
  padding-bottom: 80px;
}
.wrap-container .pro-all {
  width: 1226px;
  margin: 0 auto;
  position: relative;
}
.wrap-container .pro-item {
  height: 140px;
  transition: box-shadow 0.2s linear 0s;
}
.wrap-container .pro-item:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.wrap-container .pro-item-anchor img {
  width: 100px;
  height: 80px;
}
.wrap-container .pro-item-anchor {
  text-align: left;
  width: auto;
  padding-left: 30px;
}
.wrap-container .pro-item-title {
  padding-left: 140px;
  padding-right: 20px;
  padding-top: 45px;
}
.wrap-container .pro-item-price {
  padding: 0 20px 0 140px;
}
.wrap-container .inner-pro-all.on h3 {
  background: url(../image/title_arrow_check.png) no-repeat left center;
}
.wrap-container .inner-pro-all.on .pro-content {
  display: none;
}
.wrap-container .section-title {
  border: none;
  margin-bottom: 5px;
}
.wrap-container h3 {
  font-weight: normal;
  font-size: 20px;
  line-height: 42px;
}

/*# sourceMappingURL=pro_all.css.map */
