@import "Sass/setting";
@import "Sass/pos";
.wrap-container{
  padding-bottom:80px;
  .pro-all{
    @include totalcenter;
    overflow:hidden;
    padding-top:10px;
    position: relative;
    margin-top:-1px;
    background:#fff;
  }
  .inner-pro-all.on h3{
    background:url(../images/title_arrow_check.png) no-repeat left center;
  }
  .inner-pro-all.on .pro-content{
    display:none;
  }
  h3{
    @include font(18px,$linkcolor);
    font-weight: 400;
    cursor: pointer;
    background:url(../images/title_arrow.png) no-repeat left center;
    padding-left:40px;
    margin:0.83em 0px;
  }
  .pro-content{
    font-size:0;
    margin-right:-4px;
    border-top:1px solid #E0E0E0;
  }
  @at-root .pro-item{
    @include inline-block;
    @include font(14px,#757575);
    position: relative;
    width:245px;
    padding-top:110px;
    padding-bottom:20px;
    text-align: center;
    border-right:1px solid #E0E0E0;
    border-bottom:1px solid #E0E0E0;
    img{
      width:70px;
      height:70px;
    }
    a{
      color:#666;
    }
    a:hover{
      color:#000;
    }
    .pro-item-anchor{
      @include absolute(20px,50%);
      margin-left:-35px;
    }
    .pro-item-title{
      @include text-overflow;
    }
    @at-root .pro-item-price{
      margin-top:5px;
    dt{
      display:inline;
    }
    dd{
      display:inline;
      color:$linkcolor;
    }
    } 
   
  }
}
